@use '../base/fonts';
// =============================================================================
// Colors
// =============================================================================

$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 100%, 100%, 1);
$sinopia: hsla(16, 89%, 42%, 1);
$onyx:hsla(0, 0%, 24%, 1);
$light-gray: hsla(0, 0%, 72%, 1);

$primary-font: fonts.$georama;
